registration/webservice/src/test/resources/wsdl/RegistrationServicePortType.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.6b21  svn-revision#12959. -->
<definitions targetNamespace="http://msee.sti2.at/delivery/registration/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://msee.sti2.at/delivery/registration/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://msee.sti2.at/delivery/registration/" schemaLocation="RegistrationServicePortType_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="register">
    <part name="parameters" element="tns:register"/>
  </message>
  <message name="registerResponse">
    <part name="parameters" element="tns:registerResponse"/>
  </message>
  <message name="ServiceRegistrationException">
    <part name="fault" element="tns:ServiceRegistrationException"/>
  </message>
  <message name="update">
    <part name="parameters" element="tns:update"/>
  </message>
  <message name="updateResponse">
    <part name="parameters" element="tns:updateResponse"/>
  </message>
  <message name="registerInContext">
    <part name="parameters" element="tns:registerInContext"/>
  </message>
  <message name="registerInContextResponse">
    <part name="parameters" element="tns:registerInContextResponse"/>
  </message>
  <message name="deregister">
    <part name="parameters" element="tns:deregister"/>
  </message>
  <message name="deregisterResponse">
    <part name="parameters" element="tns:deregisterResponse"/>
  </message>
  <portType name="RegistrationServicePortType">
    <operation name="register">
      <input ns1:Action="http://msee.sti2.at/delivery/registration/RegistrationServicePortType/registerRequest" message="tns:register" xmlns:ns1="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns2:Action="http://msee.sti2.at/delivery/registration/RegistrationServicePortType/registerResponse" message="tns:registerResponse" xmlns:ns2="http://www.w3.org/2007/05/addressing/metadata"/>
      <fault message="tns:ServiceRegistrationException" name="ServiceRegistrationException" ns3:Action="http://msee.sti2.at/delivery/registration/RegistrationServicePortType/register/Fault/ServiceRegistrationException" xmlns:ns3="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="update">
      <input ns4:Action="http://msee.sti2.at/delivery/registration/RegistrationServicePortType/updateRequest" message="tns:update" xmlns:ns4="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns5:Action="http://msee.sti2.at/delivery/registration/RegistrationServicePortType/updateResponse" message="tns:updateResponse" xmlns:ns5="http://www.w3.org/2007/05/addressing/metadata"/>
      <fault message="tns:ServiceRegistrationException" name="ServiceRegistrationException" ns6:Action="http://msee.sti2.at/delivery/registration/RegistrationServicePortType/update/Fault/ServiceRegistrationException" xmlns:ns6="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="registerInContext">
      <input ns7:Action="http://msee.sti2.at/delivery/registration/RegistrationServicePortType/registerInContextRequest" message="tns:registerInContext" xmlns:ns7="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns8:Action="http://msee.sti2.at/delivery/registration/RegistrationServicePortType/registerInContextResponse" message="tns:registerInContextResponse" xmlns:ns8="http://www.w3.org/2007/05/addressing/metadata"/>
      <fault message="tns:ServiceRegistrationException" name="ServiceRegistrationException" ns9:Action="http://msee.sti2.at/delivery/registration/RegistrationServicePortType/registerInContext/Fault/ServiceRegistrationException" xmlns:ns9="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="deregister">
      <input ns10:Action="http://msee.sti2.at/delivery/registration/RegistrationServicePortType/deregisterRequest" message="tns:deregister" xmlns:ns10="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns11:Action="http://msee.sti2.at/delivery/registration/RegistrationServicePortType/deregisterResponse" message="tns:deregisterResponse" xmlns:ns11="http://www.w3.org/2007/05/addressing/metadata"/>
      <fault message="tns:ServiceRegistrationException" name="ServiceRegistrationException" ns12:Action="http://msee.sti2.at/delivery/registration/RegistrationServicePortType/deregister/Fault/ServiceRegistrationException" xmlns:ns12="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
  </portType>
</definitions>

