util/ranking-framework/src/main/resources/racer.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://www.example.org/racer/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xs="http://www.w3.org/2001/XMLSchema" name="racer"
	targetNamespace="http://www.example.org/racer/">
	<wsdl:documentation>
		Some informations of this postal service are based on real informations
		from
		www.usps.com. But note it is still a fake service.
  </wsdl:documentation>
	<wsdl:types>
		<xs:schema xmlns="http://www.example.org/racer/"
			elementFormDefault="qualified" targetNamespace="http://www.example.org/racer/">
			<xs:element name="OrderOperationResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="collectionTime" type="xs:dateTime" />
						<xs:element name="price" type="xs:decimal">
							<xs:annotation>
								<xs:documentation>
									for europe:
									basic fee $41.00 for every next 1 lb +$6.75

									for asia:
									basic fee $47,50 for every next 1 lb +$7.15

									for US:
									basic fee $26.25 for every next 1 lb +$4.15

									for south america:
									basic fee $26.25 for every next 1 lb +$4.15

									NOTE
									no shipment to africa   
                </xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="OrderOperationRequest">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="from" type="tns:PickupInformation" />
						<xs:element name="to" type="tns:ContactInformation" />
						<xs:element name="quantity" type="xs:nonNegativeInteger" />
						<xs:element name="packageWeight" type="xs:decimal">
							<xs:annotation>
								<xs:documentation>70 pound maximum per package
								</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="collectionTime" type="tns:TimeInterval">
							<xs:annotation>
								<xs:documentation>
									Pickup On Demand is available for just one low fee of $12.50,
									regardless
									of the number of packages.
                </xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:complexType name="TimeInterval">
				<xs:sequence>
					<xs:element name="readyPickup" type="xs:dateTime">
						<xs:annotation>
							<xs:documentation>
								Shipment can be ordered maximum 6 bussiness days in advance
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="latestPickup" type="xs:dateTime">
						<xs:annotation>
							<xs:documentation>
								Latest pickup time 3.00pm
								note: 2 hour time frame between ready and latest pickup time
							</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="PickupInformation">
				<xs:sequence>
					<xs:element name="Company" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>required if pickup is for a company
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="FirstName" type="xs:string" />
					<xs:element name="MiddleInitial" type="xs:string" />
					<xs:element name="LastName" type="xs:string" />
					<xs:element name="PhoneNumber" type="xs:string" />
					<xs:element name="Address1" type="xs:string" minOccurs="1" />
					<xs:element name="Address2" type="xs:string" minOccurs="0" />
					<xs:element name="City" type="xs:string" />
					<xs:element name="State" type="xs:string" />
					<xs:element name="ZipCode" type="xs:string" />
					<xs:element name="SpecialInstructions" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="ContactInformation">
				<xs:sequence>
					<xs:element name="Company" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>required if pickup is for a company
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="FirstName" type="xs:string" />
					<xs:element name="LastName" type="xs:string" />
					<xs:element name="Address1" type="xs:string" minOccurs="1" />
					<xs:element name="City" type="xs:string" />
					<xs:element name="State" type="xs:string" />
					<xs:element name="ZipCode" type="xs:string" />
					<xs:element name="Country" type="tns:CountryList" />
				</xs:sequence>
			</xs:complexType>
			<xs:simpleType name="CountryList">
				<xs:restriction base="xs:string">
					<xs:enumeration value="Argentina" />
					<xs:enumeration value="Australia" />
					<xs:enumeration value="Austria" />
					<xs:enumeration value="Bahamas" />
					<xs:enumeration value="Belgium" />
					<xs:enumeration value="Brazil" />
					<xs:enumeration value="Canada" />
					<xs:enumeration value="Chile" />
					<xs:enumeration value="China" />
					<xs:enumeration value="Costa Rica" />
					<xs:enumeration value="Czech Republic" />
					<xs:enumeration value="Denmark" />
					<xs:enumeration value="Dominican Republic" />
					<xs:enumeration value="Finland" />
					<xs:enumeration value="France" />
					<xs:enumeration value="Germany" />
					<xs:enumeration value="Greece" />
					<xs:enumeration value="Guatemala" />
					<xs:enumeration value="Hong Kong" />
					<xs:enumeration value="Hungary" />
					<xs:enumeration value="India" />
					<xs:enumeration value="Indonesia" />
					<xs:enumeration value="Ireland" />
					<xs:enumeration value="Israel" />
					<xs:enumeration value="Italy" />
					<xs:enumeration value="Japan" />
					<xs:enumeration value="Malaysia" />
					<xs:enumeration value="Mexico" />
					<xs:enumeration value="Netherlands" />
					<xs:enumeration value="New Zealand" />
					<xs:enumeration value="Norway" />
					<xs:enumeration value="Panama" />
					<xs:enumeration value="Philippines" />
					<xs:enumeration value="Poland" />
					<xs:enumeration value="Portugal" />
					<xs:enumeration value="Puerto Rico" />
					<xs:enumeration value="Russia" />
					<xs:enumeration value="Singapore" />
					<xs:enumeration value="South Korea" />
					<xs:enumeration value="Spain" />
					<xs:enumeration value="Sweden" />
					<xs:enumeration value="Switzerland" />
					<xs:enumeration value="Taiwan" />
					<xs:enumeration value="Thailand" />
					<xs:enumeration value="Turkey" />
					<xs:enumeration value="United Kingdom(Great Britain)" />
					<xs:enumeration value="United States" />
				</xs:restriction>
			</xs:simpleType>
			<!-- Fault elements -->
			<xs:element name="InvalidOrder">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="fault" type="xs:string" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="InvalidOrderFault">
		<wsdl:part element="tns:InvalidOrder" name="InvalidOrderFault" />
	</wsdl:message>
	<wsdl:message name="OrderOperationRequest">
		<wsdl:part element="tns:OrderOperationRequest" name="OrderOperationRequest" />
	</wsdl:message>
	<wsdl:message name="OrderOperationResponse">
		<wsdl:part element="tns:OrderOperationResponse" name="OrderOperationResponse" />
	</wsdl:message>
	<wsdl:portType name="racer">
		<wsdl:operation name="OrderOperation">
			<wsdl:input message="tns:OrderOperationRequest" name="OrderOperationRequest" />
			<wsdl:output message="tns:OrderOperationResponse" name="OrderOperationResponse" />
			<wsdl:fault name="InvalidOrder" message="tns:InvalidOrderFault"></wsdl:fault>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="racerSOAP" type="tns:racer">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="OrderOperation">
			<soap:operation soapAction="OrderOperation" />
			<wsdl:input>
				<soap:body parts="OrderOperationRequest" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body parts="OrderOperationResponse" use="literal" />
			</wsdl:output>
			<wsdl:fault name="InvalidOrder">
				<soap:fault name="InvalidOrder" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="racer"
		sawsdl:modelReference="http://www.example.org/racer.wsdl#Obligation 
                          http://www.example.org/racer.wsdl#PriceAndDiscounts
                          http://www.example.org/racer.wsdl#DeliveryTime
                          http://www.example.org/racer.wsdl#Rewards">
		<wsdl:port binding="tns:racerSOAP" name="racer">
			<soap:address location="http://sws-challenge.org/shipper/v2/racer" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
