invocation/webservice/src/main/resources/InvocationService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="InvocationService" targetNamespace="http://msee.sti2.at/delivery/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://msee.sti2.at/delivery/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://msee.sti2.at/delivery/" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://msee.sti2.at/delivery/">
<xs:element name="invoke" type="tns:invoke"/>
<xs:element name="invokeResponse" type="tns:invokeResponse"/>
<xs:element name="invokeSOAP" type="tns:invokeSOAP"/>
<xs:element name="invokeSOAPResponse" type="tns:invokeSOAPResponse"/>
<xs:complexType name="invokeSOAP">
<xs:sequence>
<xs:element minOccurs="0" name="serviceID" type="xs:anyURI"/>
<xs:element minOccurs="0" name="inputData" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="invokeSOAPResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="invoke">
<xs:sequence>
<xs:element minOccurs="0" name="arg0" type="xs:anyURI"/>
<xs:element minOccurs="0" name="arg1" type="xs:string"/>
<xs:element minOccurs="0" name="arg2" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="invokeResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:element name="ServiceInvokerException" type="tns:ServiceInvokerException"/>
<xs:complexType name="ServiceInvokerException">
<xs:sequence/>
</xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="ServiceInvokerException">
    <wsdl:part name="ServiceInvokerException" element="tns:ServiceInvokerException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="invokeResponse">
    <wsdl:part name="parameters" element="tns:invokeResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="invokeSOAPResponse">
    <wsdl:part name="parameters" element="tns:invokeSOAPResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="invoke">
    <wsdl:part name="parameters" element="tns:invoke">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="invokeSOAP">
    <wsdl:part name="parameters" element="tns:invokeSOAP">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="Invocation">
    <wsdl:operation name="invokeSOAP">
      <wsdl:input name="invokeSOAP" message="tns:invokeSOAP">
    </wsdl:input>
      <wsdl:output name="invokeSOAPResponse" message="tns:invokeSOAPResponse">
    </wsdl:output>
      <wsdl:fault name="ServiceInvokerException" message="tns:ServiceInvokerException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="invoke">
      <wsdl:input name="invoke" message="tns:invoke">
    </wsdl:input>
      <wsdl:output name="invokeResponse" message="tns:invokeResponse">
    </wsdl:output>
      <wsdl:fault name="ServiceInvokerException" message="tns:ServiceInvokerException">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="InvocationServiceSoapBinding" type="tns:Invocation">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="invokeSOAP">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="invokeSOAP">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="invokeSOAPResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ServiceInvokerException">
        <soap:fault name="ServiceInvokerException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="invoke">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="invoke">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="invokeResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ServiceInvokerException">
        <soap:fault name="ServiceInvokerException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="InvocationService">
    <wsdl:port name="InvocationPort" binding="tns:InvocationServiceSoapBinding">
      <soap:address location="http://localhost:9090/InvocationPort"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
