registration/webservice/src/main/resources/RegistrationService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="RegistrationService" targetNamespace="http://msee.sti2.at/delivery/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://msee.sti2.at/delivery/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://msee.sti2.at/delivery/" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://msee.sti2.at/delivery/">
  <xs:element name="deregister" type="tns:deregister"/>
  <xs:element name="deregisterResponse" type="tns:deregisterResponse"/>
  <xs:element name="register" type="tns:register"/>
  <xs:element name="registerResponse" type="tns:registerResponse"/>
  <xs:element name="update" type="tns:update"/>
  <xs:element name="updateResponse" type="tns:updateResponse"/>
  <xs:complexType name="update">
    <xs:sequence>
      <xs:element minOccurs="0" name="serviceURI" type="xs:string"/>
      <xs:element minOccurs="0" name="serviceURL" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="updateResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="register">
    <xs:sequence>
      <xs:element minOccurs="0" name="serviceDescriptionURL" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="registerResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="deregister">
    <xs:sequence>
      <xs:element minOccurs="0" name="serviceURI" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="deregisterResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Exception" type="tns:Exception"/>
  <xs:complexType name="Exception">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="Exception">
    <wsdl:part name="Exception" element="tns:Exception">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="register">
    <wsdl:part name="parameters" element="tns:register">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="update">
    <wsdl:part name="parameters" element="tns:update">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deregisterResponse">
    <wsdl:part name="parameters" element="tns:deregisterResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateResponse">
    <wsdl:part name="parameters" element="tns:updateResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="registerResponse">
    <wsdl:part name="parameters" element="tns:registerResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deregister">
    <wsdl:part name="parameters" element="tns:deregister">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="Registration">
    <wsdl:operation name="update">
      <wsdl:input name="update" message="tns:update">
    </wsdl:input>
      <wsdl:output name="updateResponse" message="tns:updateResponse">
    </wsdl:output>
      <wsdl:fault name="Exception" message="tns:Exception">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="register">
      <wsdl:input name="register" message="tns:register">
    </wsdl:input>
      <wsdl:output name="registerResponse" message="tns:registerResponse">
    </wsdl:output>
      <wsdl:fault name="Exception" message="tns:Exception">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="deregister">
      <wsdl:input name="deregister" message="tns:deregister">
    </wsdl:input>
      <wsdl:output name="deregisterResponse" message="tns:deregisterResponse">
    </wsdl:output>
      <wsdl:fault name="Exception" message="tns:Exception">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="RegistrationServiceSoapBinding" type="tns:Registration">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="update">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="update">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="updateResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="register">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="register">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="registerResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="deregister">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="deregister">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="deregisterResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RegistrationService">
    <wsdl:port name="RegistrationPort" binding="tns:RegistrationServiceSoapBinding">
      <soap:address location="http://localhost:9090/RegistrationPort"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
