dashboard/public/wsdl/Indesit_rest.wsdl

<?xml version="1.0" encoding="utf-8" ?>
<description xmlns="http://www.w3.org/ns/wsdl"
	targetNamespace="http://greath.example.com/2004/wsdl/resSvc" xmlns:tns="http://greath.example.com/2004/wsdl/resSvc"
	xmlns:ghns="http://greath.example.com/2004/schemas/resSvc" xmlns:wsoap="http://www.w3.org/ns/wsdl/soap"
	xmlns:soap="http://www.w3.org/2003/05/soap-envelope" xmlns:sawsdl="http://www.w3.org/ns/sawsdl"
	xmlns:msee="http://msee.sti2.at/properties#">

	<types>
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://greath.example.com/2004/schemas/resSvc"
			xmlns="http://greath.example.com/2004/schemas/resSvc">

			<xs:element name="checkAvailability" type="tCheckAvailability"
				sawsdl:loweringSchemaMapping="http://sesa.sti2.at/services/xslt/example-lowering.xslt" />
			<xs:complexType name="tCheckAvailability">
				<xs:sequence>
					<xs:element name="checkInDate" type="xs:date"
						sawsdl:modelReference="http://example.org/indesitRest#checkInDate" />
					<xs:element name="checkOutDate" type="xs:date"
						sawsdl:modelReference="http://example.org/indesitRest#checkOutDate" />
					<xs:element name="roomType" type="xs:string"
						sawsdl:modelReference="http://example.org/indesitRest#roomType" />
				</xs:sequence>
			</xs:complexType>

			<xs:element name="checkAvailabilityResponse" type="xs:double"
				sawsdl:liftingSchemaMapping="http://sesa.sti2.at/services/xslt/example-lifting.xslt"
				sawsdl:modelReference="http://example.org/indesitRest#checkAvailabilityResponse" />

			<xs:element name="invalidDataError" type="xs:string"
				sawsdl:liftingSchemaMapping="http://sesa.sti2.at/services/xslt/example-lifting.xslt"
				sawsdl:modelReference="http://example.org/indesitRest#error" />

		</xs:schema>
	</types>

	<interface name="indesitRestInterface">

		<fault name="invalidDataFault" element="ghns:invalidDataError" />

		<operation name="opCheckAvailability" pattern="http://www.w3.org/ns/wsdl/in-out">
			<input messageLabel="In" element="ghns:checkAvailability" />
			<output messageLabel="Out" element="ghns:checkAvailabilityResponse" />
			<outfault ref="tns:invalidDataFault" messageLabel="Out" />
		</operation>
	</interface>

	<binding name="indesitRestSOAPBinding" interface="tns:indesitRestInterface"
		type="http://www.w3.org/ns/wsdl/soap" wsoap:protocol="http://www.w3.org/2003/05/soap/bindings/HTTP/">

		<operation ref="tns:opCheckAvailability"
			wsoap:mep="http://www.w3.org/2003/05/soap/mep/request-response" />

		<fault ref="tns:invalidDataFault" wsoap:code="soap:Sender" />
	</binding>

	<service name="indesitRestService" interface="tns:indesitRestInterface"
		sawsdl:modelReference="http://msee.sti2.at/categories#BUSINESS http://msee.sti2.at/categories#REST_WEB_SERVICE http://msee.sti2.at/categories#Indesit http://msee.sti2.at/categories#AQ113D69"
		msee:requirements="REST client" msee:type="REST Service" msee:icon="Not available"
		msee:description="Provides data on customers washing machines and best practices to be proposed to the customers."
		msee:access_point="Please contact the Indesit technical staff. Phone: +39 0732 6611 - Fax: +39 0732 662501."
		msee:name="Indesit Carefree REST Service">

		<endpoint name="indesitRestEndpoint" binding="tns:indesitRestSOAPBinding"
			address="http://greath.example.com/2004/indesit" />
	</service>
</description>
