discovery/webservicesrc/main/webapp/discovery.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://webservice.discovery.msee.sti2.at" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ax24="http://net.java/xsd" xmlns:ax21="http://webservice.api.discovery.msee.sti2.at/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://webservice.discovery.msee.sti2.at">
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://net.java/xsd">
            <xs:complexType name="URI">
                <xs:sequence>
                    <xs:element minOccurs="0" name="absolute" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="authority" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="fragment" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="host" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="opaque" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="path" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="port" type="xs:int"/>
                    <xs:element minOccurs="0" name="query" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="rawAuthority" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="rawFragment" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="rawPath" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="rawQuery" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="rawSchemeSpecificPart" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="rawUserInfo" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="scheme" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="schemeSpecificPart" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="userInfo" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax25="http://net.java/xsd" xmlns:ax23="http://webservice.api.discovery.msee.sti2.at/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://webservice.discovery.msee.sti2.at">
            <xs:import namespace="http://webservice.api.discovery.msee.sti2.at/xsd"/>
            <xs:import namespace="http://net.java/xsd"/>
            <xs:complexType name="Exception">
                <xs:sequence>
                    <xs:element minOccurs="0" name="Exception" nillable="true" type="xs:anyType"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="DiscoveryException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="DiscoveryException" nillable="true" type="ax21:DiscoveryException"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="lookup">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="namespace" nillable="true" type="ax24:URI"/>
                        <xs:element minOccurs="0" name="operationName" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="lookupResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="discoverAdvanced">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="categoryList" nillable="true" type="xs:anyType"/>
                        <xs:element minOccurs="0" name="inputParamList" nillable="true" type="xs:anyType"/>
                        <xs:element minOccurs="0" name="outputParamList" nillable="true" type="xs:anyType"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="discoverAdvancedResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getIServeModel">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="serviceID" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getIServeModelResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="discover">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="categoryList" nillable="true" type="xs:anyType"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="discoverResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema xmlns:ax22="http://webservice.discovery.msee.sti2.at" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://webservice.api.discovery.msee.sti2.at/xsd">
            <xs:import namespace="http://webservice.discovery.msee.sti2.at"/>
            <xs:complexType name="DiscoveryException">
                <xs:complexContent>
                    <xs:extension base="ax22:Exception">
                        <xs:sequence/>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="getIServeModelRequest">
        <wsdl:part name="parameters" element="ns:getIServeModel"/>
    </wsdl:message>
    <wsdl:message name="getIServeModelResponse">
        <wsdl:part name="parameters" element="ns:getIServeModelResponse"/>
    </wsdl:message>
    <wsdl:message name="DiscoveryException">
        <wsdl:part name="parameters" element="ns:DiscoveryException"/>
    </wsdl:message>
    <wsdl:message name="discoverAdvancedRequest">
        <wsdl:part name="parameters" element="ns:discoverAdvanced"/>
    </wsdl:message>
    <wsdl:message name="discoverAdvancedResponse">
        <wsdl:part name="parameters" element="ns:discoverAdvancedResponse"/>
    </wsdl:message>
    <wsdl:message name="lookupRequest">
        <wsdl:part name="parameters" element="ns:lookup"/>
    </wsdl:message>
    <wsdl:message name="lookupResponse">
        <wsdl:part name="parameters" element="ns:lookupResponse"/>
    </wsdl:message>
    <wsdl:message name="discoverRequest">
        <wsdl:part name="parameters" element="ns:discover"/>
    </wsdl:message>
    <wsdl:message name="discoverResponse">
        <wsdl:part name="parameters" element="ns:discoverResponse"/>
    </wsdl:message>
    <wsdl:portType name="DiscoveryImplPortType">
        <wsdl:operation name="getIServeModel">
            <wsdl:input message="ns:getIServeModelRequest" wsaw:Action="urn:getIServeModel"/>
            <wsdl:output message="ns:getIServeModelResponse" wsaw:Action="urn:getIServeModelResponse"/>
            <wsdl:fault message="ns:DiscoveryException" name="DiscoveryException" wsaw:Action="urn:getIServeModelDiscoveryException"/>
        </wsdl:operation>
        <wsdl:operation name="discoverAdvanced">
            <wsdl:input message="ns:discoverAdvancedRequest" wsaw:Action="urn:discoverAdvanced"/>
            <wsdl:output message="ns:discoverAdvancedResponse" wsaw:Action="urn:discoverAdvancedResponse"/>
            <wsdl:fault message="ns:DiscoveryException" name="DiscoveryException" wsaw:Action="urn:discoverAdvancedDiscoveryException"/>
        </wsdl:operation>
        <wsdl:operation name="lookup">
            <wsdl:input message="ns:lookupRequest" wsaw:Action="urn:lookup"/>
            <wsdl:output message="ns:lookupResponse" wsaw:Action="urn:lookupResponse"/>
            <wsdl:fault message="ns:DiscoveryException" name="DiscoveryException" wsaw:Action="urn:lookupDiscoveryException"/>
        </wsdl:operation>
        <wsdl:operation name="discover">
            <wsdl:input message="ns:discoverRequest" wsaw:Action="urn:discover"/>
            <wsdl:output message="ns:discoverResponse" wsaw:Action="urn:discoverResponse"/>
            <wsdl:fault message="ns:DiscoveryException" name="DiscoveryException" wsaw:Action="urn:discoverDiscoveryException"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="DiscoveryImplSoap11Binding" type="ns:DiscoveryImplPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="getIServeModel">
            <soap:operation soapAction="urn:getIServeModel" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="DiscoveryException">
                <soap:fault use="literal" name="DiscoveryException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="discoverAdvanced">
            <soap:operation soapAction="urn:discoverAdvanced" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="DiscoveryException">
                <soap:fault use="literal" name="DiscoveryException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="lookup">
            <soap:operation soapAction="urn:lookup" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="DiscoveryException">
                <soap:fault use="literal" name="DiscoveryException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="discover">
            <soap:operation soapAction="urn:discover" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="DiscoveryException">
                <soap:fault use="literal" name="DiscoveryException"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="DiscoveryImplSoap12Binding" type="ns:DiscoveryImplPortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="getIServeModel">
            <soap12:operation soapAction="urn:getIServeModel" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="DiscoveryException">
                <soap12:fault use="literal" name="DiscoveryException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="discoverAdvanced">
            <soap12:operation soapAction="urn:discoverAdvanced" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="DiscoveryException">
                <soap12:fault use="literal" name="DiscoveryException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="lookup">
            <soap12:operation soapAction="urn:lookup" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="DiscoveryException">
                <soap12:fault use="literal" name="DiscoveryException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="discover">
            <soap12:operation soapAction="urn:discover" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="DiscoveryException">
                <soap12:fault use="literal" name="DiscoveryException"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="DiscoveryImplHttpBinding" type="ns:DiscoveryImplPortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="getIServeModel">
            <http:operation location="DiscoveryImpl/getIServeModel"/>
            <wsdl:input>
                <mime:content type="text/xml" part="getIServeModel"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="getIServeModel"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="discoverAdvanced">
            <http:operation location="DiscoveryImpl/discoverAdvanced"/>
            <wsdl:input>
                <mime:content type="text/xml" part="discoverAdvanced"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="discoverAdvanced"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="lookup">
            <http:operation location="DiscoveryImpl/lookup"/>
            <wsdl:input>
                <mime:content type="text/xml" part="lookup"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="lookup"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="discover">
            <http:operation location="DiscoveryImpl/discover"/>
            <wsdl:input>
                <mime:content type="text/xml" part="discover"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="discover"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="DiscoveryImpl">
        <wsdl:port name="DiscoveryImplHttpSoap11Endpoint" binding="ns:DiscoveryImplSoap11Binding">
            <soap:address location="http://localhost:8080/axis2/services/DiscoveryImpl"/>
        </wsdl:port>
        <wsdl:port name="DiscoveryImplHttpSoap12Endpoint" binding="ns:DiscoveryImplSoap12Binding">
            <soap12:address location="http://localhost:8080/axis2/services/DiscoveryImpl"/>
        </wsdl:port>
        <wsdl:port name="DiscoveryImplHttpEndpoint" binding="ns:DiscoveryImplHttpBinding">
            <http:address location="http://localhost:8080/axis2/services/DiscoveryImpl"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
