invocation/core/src/test/resources/services/unused/discovery.wsdl

<?xml version="1.0" ?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:sawsdl="http://www.w3.org/ns/sawsdl"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://msee.sti2.at/services/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http"
	name="discovery" targetNamespace="http://msee.sti2.at/services/">
	<wsdl:types>
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
			xmlns:tns="http://msee.sti2.at/services/" attributeFormDefault="unqualified"
			elementFormDefault="unqualified" targetNamespace="http://msee.sti2.at/services/">
			<xs:element name="discover" type="tns:discover"></xs:element>
			<xs:element name="discoverAdvanced" type="tns:discoverAdvanced"></xs:element>
			<xs:element name="discoverAdvancedResponse" type="tns:discoverAdvancedResponse"></xs:element>
			<xs:element name="discoverResponse" type="tns:discoverResponse"></xs:element>
			<xs:element name="getIServeModel" type="tns:getIServeModel"></xs:element>
			<xs:element name="getIServeModelResponse" type="tns:getIServeModelResponse"></xs:element>
			<xs:element name="lookup" type="tns:lookup"></xs:element>
			<xs:element name="lookupResponse" type="tns:lookupResponse"></xs:element>
			<xs:complexType name="lookup">
				<xs:sequence>
					<xs:element minOccurs="0" name="arg0" type="xs:string"></xs:element>
					<xs:element minOccurs="0" name="arg1" type="xs:string"></xs:element>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="lookupResponse">
				<xs:sequence>
					<xs:element minOccurs="0" name="return" type="xs:string"></xs:element>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="discover">
				<xs:sequence>
					<xs:element maxOccurs="unbounded" minOccurs="0"
						name="categoryList" type="xs:string"></xs:element>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="discoverResponse">
				<xs:sequence>
					<xs:element minOccurs="0" name="return" type="xs:string"></xs:element>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="getIServeModel">
				<xs:sequence>
					<xs:element minOccurs="0" name="arg0" type="xs:string"></xs:element>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="getIServeModelResponse">
				<xs:sequence>
					<xs:element minOccurs="0" name="return" type="xs:string"></xs:element>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="discoverAdvanced">
				<xs:sequence>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="arg0"
						type="xs:string"></xs:element>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="arg1"
						type="xs:string"></xs:element>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="arg2"
						type="xs:string"></xs:element>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="discoverAdvancedResponse">
				<xs:sequence>
					<xs:element minOccurs="0" name="return" type="xs:string"></xs:element>
				</xs:sequence>
			</xs:complexType>
			<xs:element name="DiscoveryException" type="tns:DiscoveryException"></xs:element>
			<xs:complexType name="DiscoveryException">
				<xs:sequence></xs:sequence>
			</xs:complexType>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="lookupResponse">
		<wsdl:part element="tns:lookupResponse" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="discoverAdvancedResponse">
		<wsdl:part element="tns:discoverAdvancedResponse" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="DiscoveryException">
		<wsdl:part element="tns:DiscoveryException" name="DiscoveryException">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="getIServeModel">
		<wsdl:part element="tns:getIServeModel" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="lookup">
		<wsdl:part element="tns:lookup" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="discoverAdvanced">
		<wsdl:part element="tns:discoverAdvanced" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="discoverResponse">
		<wsdl:part element="tns:discoverResponse" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="discover">
		<wsdl:part element="tns:discover" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="getIServeModelResponse">
		<wsdl:part element="tns:getIServeModelResponse" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:portType name="Discovery">
		<wsdl:operation name="lookup">
			<wsdl:input message="tns:lookup" name="lookup">
			</wsdl:input>
			<wsdl:output message="tns:lookupResponse" name="lookupResponse">
			</wsdl:output>
			<wsdl:fault message="tns:DiscoveryException" name="DiscoveryException">
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="discover">
			<wsdl:input message="tns:discover" name="discover">
			</wsdl:input>
			<wsdl:output message="tns:discoverResponse" name="discoverResponse">
			</wsdl:output>
			<wsdl:fault message="tns:DiscoveryException" name="DiscoveryException">
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getIServeModel">
			<wsdl:input message="tns:getIServeModel" name="getIServeModel">
			</wsdl:input>
			<wsdl:output message="tns:getIServeModelResponse" name="getIServeModelResponse">
			</wsdl:output>
			<wsdl:fault message="tns:DiscoveryException" name="DiscoveryException">
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="discoverAdvanced">
			<wsdl:input message="tns:discoverAdvanced" name="discoverAdvanced">
			</wsdl:input>
			<wsdl:output message="tns:discoverAdvancedResponse" name="discoverAdvancedResponse">
			</wsdl:output>
			<wsdl:fault message="tns:DiscoveryException" name="DiscoveryException">
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="discoverySoapBinding" type="tns:Discovery">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http"></soap:binding>
		<wsdl:operation name="lookup">
			<soap:operation soapAction="" style="document"></soap:operation>
			<wsdl:input name="lookup">
				<soap:body use="literal"></soap:body>
			</wsdl:input>
			<wsdl:output name="lookupResponse">
				<soap:body use="literal"></soap:body>
			</wsdl:output>
			<wsdl:fault name="DiscoveryException">
				<soap:fault name="DiscoveryException" use="literal"></soap:fault>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="discover">
			<soap:operation soapAction="" style="document"></soap:operation>
			<wsdl:input name="discover">
				<soap:body use="literal"></soap:body>
			</wsdl:input>
			<wsdl:output name="discoverResponse">
				<soap:body use="literal"></soap:body>
			</wsdl:output>
			<wsdl:fault name="DiscoveryException">
				<soap:fault name="DiscoveryException" use="literal"></soap:fault>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="discoverAdvanced">
			<soap:operation soapAction="" style="document"></soap:operation>
			<wsdl:input name="discoverAdvanced">
				<soap:body use="literal"></soap:body>
			</wsdl:input>
			<wsdl:output name="discoverAdvancedResponse">
				<soap:body use="literal"></soap:body>
			</wsdl:output>
			<wsdl:fault name="DiscoveryException">
				<soap:fault name="DiscoveryException" use="literal"></soap:fault>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getIServeModel">
			<soap:operation soapAction="" style="document"></soap:operation>
			<wsdl:input name="getIServeModel">
				<soap:body use="literal"></soap:body>
			</wsdl:input>
			<wsdl:output name="getIServeModelResponse">
				<soap:body use="literal"></soap:body>
			</wsdl:output>
			<wsdl:fault name="DiscoveryException">
				<soap:fault name="DiscoveryException" use="literal"></soap:fault>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="discovery" sawsdl:modelReference="http://msee.sti2.at/categories#business">
		<wsdl:port binding="tns:discoverySoapBinding" name="DiscoveryPort">
			<soap:address
				location="http://sesa.sti2.at:8080/at.sti2.msee.delivery.discovery.webservice-m17.1-SNAPSHOT/service"></soap:address>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>

