util/ranking-framework/src/test/resources/walker.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="walker"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.org/walker/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.example.org/walker/">
	<wsdl:documentation>
		NOTE! This service is fake. its based of some real data of an real world
		postal
		service. We took some informations from the www.dhl.com website..
	</wsdl:documentation>
	<wsdl:types>
		<xs:schema elementFormDefault="qualified"
			targetNamespace="http://www.example.org/walker/" xmlns="http://www.example.org/walker/">
			<xs:element name="OrderResponse" type="OrderResponseType" />

			<xs:complexType name="OrderResponseType">
				<xs:sequence>
					<xs:element name="collectionTime" type="xs:dateTime"></xs:element>
					<xs:element name="price" type="xs:decimal">
						<xs:annotation>
							<xs:documentation>
								Europe:
								starting with $41 for 1 lb. increasing per 1 lb with $5.50
								Asia:
								starting with $65 for 1lb. increasing per 1 lb with $10
								US:
								starting with $34,50 for 1 lb. increasing per 1 lb with $3
								for south america:
								starting with $59 for 1 lb. increasing per 1 lb with $12,30
								for africa:
								starting with $85,03 for 1 lb. increasing per 1 lb with $13
							</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:complexType>
			<xs:element name="OrderRequest">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="from" type="tns:ContactInformationFrom"></xs:element>
						<xs:element name="to" type="tns:ContactInformationTo"></xs:element>
						<xs:element name="collectionTime" type="tns:TimeInterval"></xs:element>
						<xs:element name="packageInformation" type="tns:packageInformation">
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:complexType name="TimeInterval">
				<xs:sequence>
					<xs:element name="readyPickup" type="xs:dateTime">
						<xs:annotation>
							<xs:documentation>
								Shipment can be ordered maximum 2 bussiness days in advance
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="latestPickup" type="xs:dateTime">
						<xs:annotation>
							<xs:documentation>
								The maximum difference between the
								latest and the ready pickup Day are 5 working days.
              </xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="packageInformation">
				<xs:sequence>
					<xs:element name="length" type="xs:int" minOccurs="0"></xs:element>
					<xs:element name="height" type="xs:int" minOccurs="0"></xs:element>
					<xs:element name="width" type="xs:int" minOccurs="0"></xs:element>
					<xs:element name="packageWeight" type="xs:nonNegativeInteger"></xs:element>
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="ContactInformationFrom">
				<xs:sequence>
					<xs:element name="AddressInformation" type="tns:addressInformation" />
					<xs:element name="ContactInformation" type="tns:ContactInformation" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="addressInformation">
				<xs:sequence>
					<xs:element name="ContactName" type="xs:string" />
					<xs:element name="Telephone" type="xs:string" />
					<xs:element name="Email" type="xs:string" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="ContactInformation">
				<xs:sequence>
					<xs:element name="Company" type="xs:string" />
					<xs:element name="Address1" type="xs:string" />
					<xs:element name="Address2" type="xs:string" />
					<xs:element name="City" type="xs:string" />
					<xs:element name="StateProvince" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								allowed are only States/Provinces in the USA
              </xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="PickupLocation" type="PickupLocationType" />
				</xs:sequence>
			</xs:complexType>
			<xs:simpleType name="PickupLocationType">
				<xs:restriction base="xs:string">
					<xs:enumeration value="FrontDoor"></xs:enumeration>
					<xs:enumeration value="BackDoor"></xs:enumeration>
					<xs:enumeration value="ShippingDock"></xs:enumeration>
				</xs:restriction>
			</xs:simpleType>

			<xs:complexType name="ContactInformationTo">
				<xs:sequence>
					<xs:element name="Name" type="xs:string"></xs:element>
					<xs:element name="Address" type="xs:string"></xs:element>
					<xs:element name="City" type="xs:string"></xs:element>
					<xs:element name="StateProvinceCounty" type="xs:string">
						<xs:annotation>
							<xs:documentation>required in (US/Canada/Ireland)
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="PostalCode" type="xs:string"></xs:element>
					<xs:element name="Country" type="CountryList"></xs:element>
					<xs:element name="Telephone" type="xs:string"></xs:element>
					<xs:element name="EMail" type="xs:string"></xs:element>
				</xs:sequence>
			</xs:complexType>
			<xs:simpleType name="CountryList">
				<xs:restriction base="xs:string">
					<xs:enumeration value="Argentina"></xs:enumeration>
					<xs:enumeration value="Australia"></xs:enumeration>
					<xs:enumeration value="Austria"></xs:enumeration>
					<xs:enumeration value="Bahamas"></xs:enumeration>
					<xs:enumeration value="Belgium"></xs:enumeration>
					<xs:enumeration value="Brazil"></xs:enumeration>
					<xs:enumeration value="Canada"></xs:enumeration>
					<xs:enumeration value="Chile"></xs:enumeration>
					<xs:enumeration value="China"></xs:enumeration>
					<xs:enumeration value="Costa Rica"></xs:enumeration>
					<xs:enumeration value="Czech Republic"></xs:enumeration>
					<xs:enumeration value="Denmark"></xs:enumeration>
					<xs:enumeration value="Dominican Republic"></xs:enumeration>
					<xs:enumeration value="Finland"></xs:enumeration>
					<xs:enumeration value="France"></xs:enumeration>
					<xs:enumeration value="Germany"></xs:enumeration>
					<xs:enumeration value="Greece"></xs:enumeration>
					<xs:enumeration value="Guatemala"></xs:enumeration>
					<xs:enumeration value="Hong Kong"></xs:enumeration>
					<xs:enumeration value="Hungary"></xs:enumeration>
					<xs:enumeration value="India"></xs:enumeration>
					<xs:enumeration value="Indonesia"></xs:enumeration>
					<xs:enumeration value="Ireland"></xs:enumeration>
					<xs:enumeration value="Israel"></xs:enumeration>
					<xs:enumeration value="Italy"></xs:enumeration>
					<xs:enumeration value="Japan"></xs:enumeration>
					<xs:enumeration value="Malaysia"></xs:enumeration>
					<xs:enumeration value="Mexico"></xs:enumeration>
					<xs:enumeration value="Namibia" />
					<xs:enumeration value="Nigeria" />
					<xs:enumeration value="Netherlands"></xs:enumeration>
					<xs:enumeration value="New Zealand"></xs:enumeration>
					<xs:enumeration value="Norway"></xs:enumeration>
					<xs:enumeration value="Panama"></xs:enumeration>
					<xs:enumeration value="Philippines"></xs:enumeration>
					<xs:enumeration value="Poland"></xs:enumeration>
					<xs:enumeration value="Portugal"></xs:enumeration>
					<xs:enumeration value="Puerto Rico"></xs:enumeration>
					<xs:enumeration value="Russia"></xs:enumeration>
					<xs:enumeration value="Singapore"></xs:enumeration>
					<xs:enumeration value="South Korea"></xs:enumeration>
					<xs:enumeration value="Spain"></xs:enumeration>
					<xs:enumeration value="Sweden"></xs:enumeration>
					<xs:enumeration value="Switzerland"></xs:enumeration>
					<xs:enumeration value="Taiwan"></xs:enumeration>
					<xs:enumeration value="Thailand"></xs:enumeration>
					<xs:enumeration value="Tunisia"></xs:enumeration>
					<xs:enumeration value="Turkey"></xs:enumeration>
					<xs:enumeration value="United Kingdom(England)"></xs:enumeration>
					<xs:enumeration value="United Kingdom(Northern Irland)"></xs:enumeration>
					<xs:enumeration value="United Kingdom(Scotland)"></xs:enumeration>
					<xs:enumeration value="United Kingdom(Wales)"></xs:enumeration>
					<xs:enumeration value="United States"></xs:enumeration>
				</xs:restriction>
			</xs:simpleType>
			<!-- Fault elements -->
			<xs:element name="InvalidOrder">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="fault" type="xs:string" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="InvalidOrderFault">
		<wsdl:part element="tns:InvalidOrder" name="InvalidOrderFault" />
	</wsdl:message>
	<wsdl:message name="OrderResponse">
		<wsdl:part element="tns:OrderResponse" name="OrderResponse" />
	</wsdl:message>
	<wsdl:message name="OrderRequest">
		<wsdl:part element="tns:OrderRequest" name="OrderRequest" />
	</wsdl:message>
	<wsdl:portType name="walkerOrder">
		<wsdl:operation name="Order">
			<wsdl:documentation>
				For more than 35 years, walker has built the world's premier global
				delivery
				network by trailblazing express shipping in one country after another.
			</wsdl:documentation>
			<wsdl:input message="tns:OrderRequest" />
			<wsdl:output message="tns:OrderResponse" />
			<wsdl:fault name="InvalidOrder" message="tns:InvalidOrderFault"></wsdl:fault>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="walkerOrderSOAP" type="tns:walkerOrder">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="Order">
			<soap:operation soapAction="Order" />
			<wsdl:input>
				<soap:body parts="OrderRequest" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body parts="OrderResponse" use="literal" />
			</wsdl:output>
			<wsdl:fault name="InvalidOrder">
				<soap:fault name="InvalidOrder" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="walker"
		sawsdl:modelReference="http://www.example.org/walker.wsdl#Obligation 
                          http://www.example.org/walker.wsdl#PriceAndDiscounts
                          http://www.example.org/walker.wsdl#DeliveryTime
                          http://www.example.org/walker.wsdl#Rewards">
		<wsdl:port binding="tns:walkerOrderSOAP" name="walkerOrderSOAP">
			<soap:address location="http://sws-challenge.org/shipper/v2/walker" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
