registration/core/src/test/resources/webservices/RegistrationService.xml

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<ns7:description targetNamespace="http://greath.example.com/2004/wsdl/resSvc"
	xmlns:ns16="xs" xmlns:ns17="xml" xmlns:ns15="sawsdl" xmlns:ns18="soap"
	xmlns:sawsdl="http://www.w3.org/ns/sawsdl" xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:ns5="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:ns12="wsoap"
	xmlns:ns6="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ns13="tns"
	xmlns:ns7="http://www.w3.org/ns/wsdl" xmlns:ns20="ghns"
	xmlns:ns8="http://www.w3.org/ns/wsdl/http" xmlns:ns11="http://schemas.xmlsoap.org/wsdl/mime/"
	xmlns:ns2="http://schemas.xmlsoap.org/wsdl/" xmlns:ns4="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://greath.example.com/2004/wsdl/resSvc" xmlns:wsoap="http://www.w3.org/ns/wsdl/soap"
	xmlns:soap="http://www.w3.org/2003/05/soap-envelope" xmlns:ghns="http://greath.example.com/2004/schemas/resSvc">
	<ns7:types>
		<xs:schema targetNamespace="http://greath.example.com/2004/schemas/resSvc">
			<xs:element name="checkAvailability" type="ghns:tCheckAvailability"
				sawsdl:loweringSchemaMapping="http://sesa.sti2.at/services/xslt/example-lowering.xslt" />
			<xs:complexType name="tCheckAvailability">
				<xs:sequence>
					<xs:element name="checkInDate" type="xs:date"
						sawsdl:modelReference="http://example.org/reservation#checkInDate" />
					<xs:element name="checkOutDate" type="xs:date"
						sawsdl:modelReference="http://example.org/reservation#checkOutDate" />
					<xs:element name="roomType" type="xs:string"
						sawsdl:modelReference="http://example.org/reservation#roomType" />
				</xs:sequence>
			</xs:complexType>
			<xs:element name="checkAvailabilityResponse" type="xs:double"
				sawsdl:modelReference="http://example.org/reservation#checkAvailabilityResponse"
				sawsdl:liftingSchemaMapping="http://sesa.sti2.at/services/xslt/example-lifting.xslt" />
			<xs:element name="invalidDataError" type="xs:string"
				sawsdl:modelReference="http://example.org/reservation#error"
				sawsdl:liftingSchemaMapping="http://sesa.sti2.at/services/xslt/example-lifting.xslt" />
		</xs:schema>
	</ns7:types>
	<ns7:interface name="reservationInterface">
		<ns7:fault element="ghns:invalidDataError" name="invalidDataFault" />
		<ns7:operation pattern="http://www.w3.org/ns/wsdl/in-out"
			name="opCheckAvailability">
			<ns7:input element="ghns:checkAvailability" messageLabel="In" />
			<ns7:output element="ghns:checkAvailabilityResponse"
				messageLabel="Out" />
			<ns7:outfault messageLabel="Out" ref="tns:invalidDataFault" />
		</ns7:operation>
	</ns7:interface>
	<ns7:binding interface="tns:reservationInterface" type="http://www.w3.org/ns/wsdl/soap"
		name="reservationSOAPBinding" wsoap:protocol="http://www.w3.org/2003/05/soap/bindings/HTTP/">
		<ns7:operation ref="tns:opCheckAvailability"
			wsoap:mep="http://www.w3.org/2003/05/soap/mep/request-response" />
		<ns7:fault ref="tns:invalidDataFault" wsoap:code="soap:Sender" />
	</ns7:binding>
	<ns7:service interface="tns:reservationInterface" name="reservationService"
		sawsdl:modelReference="http://www.sti2.at/E-Freight/ServiceCategories#BUSINESS">
		<ns7:endpoint address="http://greath.example.com/2004/reservation"
			binding="tns:reservationSOAPBinding" name="reservationEndpoint" />
	</ns7:service>
	<ns7:types>
		<xs:schema targetNamespace="http://greath.example.com/2004/schemas/resSvc">
			<xs:element name="checkAvailability" type="ghns:tCheckAvailability"
				sawsdl:loweringSchemaMapping="http://sesa.sti2.at/services/xslt/example-lowering.xslt" />
			<xs:complexType name="tCheckAvailability">
				<xs:sequence>
					<xs:element name="checkInDate" type="xs:date"
						sawsdl:modelReference="http://example.org/reservation#checkInDate" />
					<xs:element name="checkOutDate" type="xs:date"
						sawsdl:modelReference="http://example.org/reservation#checkOutDate" />
					<xs:element name="roomType" type="xs:string"
						sawsdl:modelReference="http://example.org/reservation#roomType" />
				</xs:sequence>
			</xs:complexType>
			<xs:element name="checkAvailabilityResponse" type="xs:double"
				sawsdl:modelReference="http://example.org/reservation#checkAvailabilityResponse"
				sawsdl:liftingSchemaMapping="http://sesa.sti2.at/services/xslt/example-lifting.xslt" />
			<xs:element name="invalidDataError" type="xs:string"
				sawsdl:modelReference="http://example.org/reservation#error"
				sawsdl:liftingSchemaMapping="http://sesa.sti2.at/services/xslt/example-lifting.xslt" />
		</xs:schema>
	</ns7:types>
</ns7:description>
