ranking/core/src/test/resources/weasel.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://www.example.org/weasel/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xs="http://www.w3.org/2001/XMLSchema" name="weasel"
	targetNamespace="http://www.example.org/weasel/">
	<wsdl:documentation>
		Note that this is a fake service. it was generated only for the SWS
		Challenge 2006
  </wsdl:documentation>
	<wsdl:types>
		<xs:schema xmlns="http://www.example.org/weasel/"
			targetNamespace="http://www.example.org/weasel/" elementFormDefault="qualified">
			<xs:complexType name="ContactInformationType">
				<xs:annotation>
					<xs:documentation>
						we deliver only from and to addresses in the United States
					</xs:documentation>
				</xs:annotation>
				<xs:sequence>
					<xs:element name="Name" type="xs:string" />
					<xs:element name="Address" type="xs:string" />
					<xs:element name="City" type="xs:string" />
					<xs:element name="PostalCode" type="xs:int" />
					<xs:element name="State" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:element name="weaselOrderResponse" type="tns:weaselOrderResponseType" />
			<xs:complexType name="weaselOrderResponseType">
				<xs:annotation>
					<xs:documentation>
						We have a basic fee of $10. We charge for every next pound $1.50.
					</xs:documentation>
				</xs:annotation>
				<xs:sequence>
					<xs:element name="price" type="xs:decimal"></xs:element>
					<xs:element name="pickupDate" type="xs:dateTime" />
				</xs:sequence>
			</xs:complexType>
			<xs:element name="weaselOrderRequest" type="tns:weaselOrderRequestType" />
			<xs:complexType name="weaselOrderRequestType">
				<xs:annotation>
					<xs:documentation>
						there has to be a 4 hours time interval between the pickup and the
						latest
						pickup time. There also has to be maximum 4 days between the pickup and
						the
						latest pickup date. However we promise if we fetch the package before
						3pm we
						will deliver it before 5pm on the next day
          </xs:documentation>
				</xs:annotation>
				<xs:sequence>
					<xs:element name="pickupAddress" type="tns:ContactInformationType" />
					<xs:element name="deliveryAddress" type="tns:ContactInformationType" />
					<xs:element name="FirstPickupDate" type="xs:dateTime" />
					<xs:element name="LatestPickupDate" type="xs:dateTime" />
					<xs:element name="quantity" type="xs:nonNegativeInteger" />
					<xs:element name="weight" type="xs:nonNegativeInteger" />
					<xs:element name="width" type="xs:nonNegativeInteger" />
					<xs:element name="height" type="xs:nonNegativeInteger" />
					<xs:element name="length" type="xs:nonNegativeInteger" />
				</xs:sequence>
			</xs:complexType>
			<!-- Fault elements -->
			<xs:element name="InvalidOrder">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="fault" type="xs:string" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="InvalidOrderFault">
		<wsdl:part element="tns:InvalidOrder" name="InvalidOrderFault" />
	</wsdl:message>
	<wsdl:message name="weaselOrderRequest">
		<wsdl:part element="tns:weaselOrderRequest" name="weaselOrderRequest" />
	</wsdl:message>
	<wsdl:message name="weaselOrderResponse">
		<wsdl:part element="tns:weaselOrderResponse" name="weaselOrderResponse" />
	</wsdl:message>
	<wsdl:portType name="weasel">
		<wsdl:operation name="weaselOrder">
			<wsdl:input message="tns:weaselOrderRequest" name="weaselOrderRequest" />
			<wsdl:output message="tns:weaselOrderResponse" name="weaselOrderResponse" />
			<wsdl:fault name="InvalidOrder" message="tns:InvalidOrderFault"></wsdl:fault>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="weaselSOAP" type="tns:weasel">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="weaselOrder">
			<soap:operation soapAction="weaselOrder" />
			<wsdl:input>
				<soap:body parts="weaselOrderRequest" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body parts="weaselOrderResponse" use="literal" />
			</wsdl:output>
			<wsdl:fault name="InvalidOrder">
				<soap:fault name="InvalidOrder" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="weasel"
		sawsdl:modelReference="http://www.example.org/weasel.wsdl#Obligation 
                          http://www.example.org/weasel.wsdl#PriceAndDiscounts
                          http://www.example.org/weasel.wsdl#DeliveryTime
                          http://www.example.org/weasel.wsdl#Rewards">
		<wsdl:port binding="tns:weaselSOAP" name="weasel">
			<soap:address location="http://sws-challenge.org/shipper/v2/weasel" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
